<h1 class='col text-center mt-2'>熱門地點</h1>

<div class='card-group'>

  <div class='card border border-1 text-center'>
    <a href=''>
      <img
        src='https://images.chinatimes.com/newsphoto/2023-01-06/1024/20230106004870.jpg'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body'>
        <h2 class='card-title'>高雄</h2>
        <p class='card-text'>Kaohsiung</p>
      </div></a>

  </div>

  <div class='card border border-1 text-center'>
    <a href=''>
      <img
        src='https://a.cdn-hotels.com/gdcs/production57/d1344/58e63eaa-73ec-48f3-828a-c287ee898ac3.jpg?impolicy=fcrop&w=1600&h=1066&q=medium'
        class='card-img-top border border-light border-3"'
        alt='...'
      />
      <div class='card-body'>
        <h2 class='card-title'>台北</h2>
        <p class='card-text'>Taipei</p>
      </div>
    </a>
  </div>

  <div class='card border border-1 text-center'>
    <a href=''><img
        src='https://i2.wp.com/www.agoda.com/wp-content/uploads/2019/05/Seoul-itinerary-Seoul-Bukchon-Hanok-Village.jpg?ssl=1'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body'>
        <h2 class='card-title'>首爾</h2>
        <p class='card-text'>Seoul</p>
      </div></a>
  </div>

  <div class='card border border-1 text-center'>
    <a href=''>
      <img
        src='https://static.gltjp.com/glt/prd/data/article/21000/20183/20220816_214717_58d15bee_w1920.jpg'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body'>
        <h2 class='card-title'>東京</h2>
        <p class='card-text'>Tokyo</p>
      </div></a>
  </div>

</div>

<div class='container border mt-5'>

  <div class='row'>
    <div class='col'>
      <p class=''>溫度：{{temp}}</p>
      <p>{{location}}</p>
      <p>{{date}}</p>
    </div>
    <div class='col'>

    </div>
    <div class='col'>
      <div class='col align-self-center'> icon</div>

    </div>

  </div>

</div>